@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

* {
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}

/* Fix for date inputs on mobile */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  min-height: 46px;
  position: relative;
}

input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  left: 0.75rem; /* px-3 */
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af; /* gray-400 */
  font-size: 0.875rem; /* text-sm */
  pointer-events: none;
}

/* For RoomDetails where there is an icon */
.pl-10[type="date"]::before {
  left: 2.5rem; /* pl-10 */
}

input[type="date"]:focus::before,
input[type="date"]:not(:placeholder-shown)::before,
input[type="date"]:valid::before {
  display: none !important;
  content: "" !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  cursor: pointer;
  z-index: 1;
}
