@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

* {
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}

/* Fix for date inputs on mobile */
input[type="date"] {
  display: flex;
  align-items: center;
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0.6;
}

/* Ensure the date text is visible on mobile */
input[type="date"]:before {
  content: attr(placeholder);
  width: 100%;
}

input[type="date"]:focus:before,
input[type="date"]:not([value=""]):before {
  content: "";
  display: none;
}
